@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --montserrat :'Montserrat', sans-serif; 
    --poppins :'Poppins', sans-serif; 
    --black : #000000;
    --primary-teal :#1CB0B5;
    --light : #FFFFFF;
    --dark-gray : #3F3D56;
    --light-gray : #F2F2F2;
    --gray-half :#CCCCCC;
    --half-purple:#8985A8;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
}

.poppin {
    font-family: var(--poppins);
}
.formBox h2{
    font-family: var(--poppins);
    font-weight: 600;
    text-align: center;
}
.formBox input{
    border: 1px solid #c7c7c7;  
    color: #c7c7c7;
    font-size: 14px;
    font-family: var(--poppins);
    border-radius: 20px;
}
.formBox button{
    width: 50%;
    margin: 0 25%;
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
}
